/text/Paper/*.pdf
Registration_*.pdf
/data/*
*.zip
*.pyc
/src/Benchmarks/*
!/src/Benchmarks/models
!/src/Benchmarks/layers
!/src/Benchmarks/utils
!/src/Benchmarks/data_provider
!/src/Benchmarks/exp
!/data/Results
!/data/Windturbinen/test*.csv